




 <div class="inner_page-banner one-img">
      </div>
      <!--//banner -->
      <!-- short -->
      <div class="using-border py-3">
         <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
               <li>
                  <a >@Html.ActionLink("Home", "Index", "Home")</a>
                  <span>/ /</span>
               </li>
               <li>Order Confirmed</li>
            </ul>
         </div>
      </div>
      <br />
      <br />
      <br />
      <br />
<div class="row">
    <div class="col-md-8 offset-2 alert alert-success text-center">
        <h2>Order completed successfully</h2>
        <p>Check Your orders in the Orders sections :) </p>
        <hr />
        <p>Thank you for using our services.</p>
    </div>
</div>